/mainmaintest.java
/AIUser.class
/Card.class
/Controller.class
/DownloadStats.class
/GenericUser.class
/HumanUser.class
/Model.class
/TopTrumpsCLIApplication.class
/UploadStats.class
/writeToLog.class
